/*
    General Style
*/
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5; 
    color: #333;
    text-align: center;
}